@font-face {
    font-family: 'Grundschrift';
    src: url('/lafleur/assets/fonts/GrundschriftRegular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('/lafleur/assets/fonts/NowRegular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

