* { box-sizing: border-box; font-family: "Now", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; }

a { text-decoration: none; color: orange; }

a.exposed { font-weight: bold; font-size: 1.3rem; }

a::visited { color: brown; }

body { height: 100vh; margin: 0; display: flex; flex-flow: column-reverse; }

.wrapper { display: flex; flex-flow: row wrap; justify-content: center; align-items: baseline; gap: 5rem; padding: 1rem; }

@media (min-width: 830px) { .wrapper { height: 100vh; } }

.wrapper > * { flex: 1 1 20rem; }

.wrapper > section { flex-grow: 10; }

header { text-align: center; }

header h1 a { font: 60px 'Grundschrift', "Times New Roman", Times, serif; }

@media (min-width: 830px) { header h1 a { line-height: 2; } }

header ul { list-style: none; padding-left: 0; }

@media (min-width: 830px) { header { text-align: right; margin-top: 20vh; } }

.path { display: inline; }

/*# sourceMappingURL=style.css.map */